# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and environments
.env
.venv/
env/
venv/
ENV/

# Large datasets & indexes
*.zip
*.tar
*.tar.gz
*.pkl
*.index
*.pt
*.pth
*.bin
*.onnx

# IDE / Editor files
.vscode/
.idea/
*.swp
